@font-face {
    font-family: nunito;
    src: url(assets/fonte/Nunito-VariableFont_wght.ttf);
    font-style: normal;
}
body {
    font-family: nunito;
    margin: 0; 
    padding: 0;
    overflow-x: hidden;
  }
  

  .container {
    max-width: 100%;
    height: 100vh; 
    display: flex;
    flex-direction: column;
  }
  
  /* Menu */
  .menu {
    height: 15%;
    width: 100%;
    background-color: #ffff;
  }
  .menu h1{
    float: left;
    margin-left: 100px;
    margin-top: 20px;
  }
  .menu input{
    height: 40px;
    width: 200px;
    margin-left: 50px;
    margin-top: 20px;
    float: left;
    border: 0px;
    border-radius: 15px;
    background-color: #F3F3F3;
    color: #D9D9D9;
  } 
  
  /* .nav_bar i{
    margin-left: 15px;
    margin-top: 17px;
    float: left;
  } */
  span{
    color: #38E8A1;
  }
  .submenu {
    text-decoration: none;
    color: #0000;
    float: right;
    width: 55%;
    height: 100%;
}
.submenu p{
  margin-right: 50px;
  margin-top: 45px;
  color: black;
  float: left;
}

.submenu a img{
  float: left;
  height: 50px;
  width: 50px;
  margin-top: 20px;
}
/* corpo */

  .start {
    color: #F3F3F3;
    font-size: 30px;
    text-align: center;
    height: 100vh;
    width: 100%;
    background-image: url(assets/imgs/fundo.jpg);
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: column; 
    justify-content: center;
    align-items: center;
}

.start h1 {
    margin-bottom: 50px; 
}

.start a {
    border-radius: 15px;
    height: 85px;
    width: 250px;
    background-color: #38E8A1;
}

  .start a i{
    float: left;
    margin-left: 20px;
    margin-top: 17px;
    font-size: 50px;
  }
  .start a p{
    color: #ffff;
    font-weight: 1000;
    float: right;
    margin-right: 40px;
    margin-top: 22px;
    font-size: 30px;
  }
  .start a:hover{
    color: #a0a0a0;
    background-color: #21bd7f;
  }
  .start a:active{
    background-color: #FF3D6E;
  }
  .start span{
    color: #FF3D6E;
  }
  .start a img{
    margin-top: 12px;
    height: 60px;
    width: 60px;
  }
